<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto" cdkScrollable>
    <div class="relative flex-0">
        <!-- Header -->
        <div class="flex flex-col sm:flex-row items-start sm:items-center sm:justify-between p-6 sm:py-12 md:px-8 border-b bg-card dark:bg-transparent">
            <!-- Title -->
            <div class="space-y-2">
                <div class="text-4xl font-extrabold tracking-tight leading-none">Courses Manager</div>
                <a class="flex items-center text-primary hover:underline" [routerLink]="['..']">
                    <mat-icon
                        class="icon-size-5 text-current"
                        [svgIcon]="'heroicons_solid:arrow-sm-left'"
                    ></mat-icon>
                    <span class="ml-2 font-medium">Back to course</span>
                </a>
            </div>
            <!-- Actions -->
            <div class="mt-4 sm:mt-0">
                <!-- Upload button -->
                <button
                    mat-raised-button
                    [color]="'primary'"
                    (click)="openDialogImport(import_file)"
                >
                    <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                    <span class="ml-2 mr-1">Tạo file bài học</span>
                </button>
            </div>
        </div>
    </div>

    <div class="flex flex-col p-6 space-y-6 w-full max-w-xs sm:max-w-5xl mx-auto">
        <!-- Header -->
        <div class="flex items-center justify-between">
            <mat-form-field class="fuse-mat-no-subscript w-full sm:w-72">
                <mat-icon
                    matPrefix
                    class="icon-size-5"
                    [svgIcon]="'heroicons_solid:search'"
                ></mat-icon>
                <input placeholder="Search by name course" matInput>
            </mat-form-field>
<!--            <button-->
<!--                mat-raised-button-->
<!--                [color]="'primary'"-->
<!--                (click)="openDialogImport(import_file)"-->
<!--            >-->
<!--                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>-->
<!--                <span class="ml-2 mr-1">Tạo file bài học</span>-->
<!--            </button>-->
        </div>

        <!-- Courses -->
        <ng-container *ngIf="this.filteredCourses.length; else noCourses">
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 mt-8 sm:mt-10">
                <ng-container *ngFor="let course of filteredCourses; trackBy: trackByFn">
                    <!-- Course -->
                    <div class="flex flex-col shadow rounded-2xl overflow-hidden bg-card">
                        <div class="flex flex-col p-6">
                            <div class="text-lg font-medium">{{course.title}}</div>
                            <div class="mt-1 line-clamp-2 text-secondary">{{course.description}}</div>
                            <div class="my-4 border-t-2"></div>
                            <div class="flex items-center leading-5 text-md text-secondary">
                                <mat-icon
                                    class="icon-size-5 text-hint"
                                    [svgIcon]="'heroicons_solid:clock'"></mat-icon>
                                <div class="ml-1.5">{{course.duration}} minutes</div>
                            </div>
                        </div>
                        <!-- Footer -->
                        <div class="flex flex-col w-full mt-auto">
                            <div class="border-t-2"></div>
                            <div class="px-6 py-4 text-right bg-gray-50 dark:bg-transparent">
                                <a mat-stroked-button [routerLink]="['/courses/lesson/', course.id]">
                                    <span class="inline-flex items-center">
                                        <span>Continue</span>
                                        <mat-icon
                                            class="ml-1.5 icon-size-5"
                                            [svgIcon]="'heroicons_solid:arrow-sm-right'"></mat-icon>
                                    </span>
                                </a>
                                <!--                                <button mat-stroked-button (click)="navigateSlide()">-->
                                <!--                                    <span class="inline-flex items-center">-->
                                <!--                                        <span>Continue</span>-->
                                <!--                                        <mat-icon-->
                                <!--                                            class="ml-1.5 icon-size-5"-->
                                <!--                                            [svgIcon]="'heroicons_solid:arrow-sm-right'"></mat-icon>-->
                                <!--                                    </span>-->
                                <!--                                </button>-->
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </ng-container>

        <!-- No courses -->
        <ng-template #noCourses>
            <div class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
                <mat-icon
                    class="icon-size-24"
                    [svgIcon]="'heroicons_outline:document-search'"></mat-icon>
                <div class="mt-6 text-2xl font-semibold tracking-tight text-secondary">No courses found!</div>
            </div>
        </ng-template>
    </div>
</div>

<ng-template #import_file>
    <div class="">
        <div class="header pb-4 border-b">
            <span class="text-[20px] font-bold">Import file</span>
        </div>

        <div class="content my-4">
            <div class="w-1/2 h-[40px] flex items-center px-3 border mx-auto rounded">
                <span class="mr-2">
                  <svg width="24" height="24">
                    <use xlink:href="#icon_attach_file"></use>
                  </svg>
                </span>
                <ng-container *ngIf="!fileName">
                    <input type="file" id="acceptanceFile" class="hidden" (change)="uploadFile($event)" #fileUpload />
                    <input
                        [ngClass]="{ 'cursor-pointer': true }"
                        readonly
                        class="w-full"
                        [placeholder]="'Choose file'"
                        matInput
                        trim="blur"
                        (click)="fileUpload.click()"
                    />
                </ng-container>
                <ng-container *ngIf="fileName">
                    <div class="flex item-center space-x-1">
                        <span class="mr-2">{{ fileName }}</span>
                        <button class="icon-size-5" mat-icon-button color="primary" (click)="removeFile()">
                            <mat-icon svgIcon="heroicons_outline:x" title="Close"></mat-icon>
                        </button>
                    </div>
                </ng-container>
            </div>
        </div>

        <div class="footer mt-4 flex justify-end">
            <div>
                <button
                    class="rounded-[4px] py-2 px-4 mr-3 bg-[#F1F5F9]"
                    mat-raised-button
                    (click)="closeDialog()"
                >
                    <span>Hủy</span>
                </button>
                <button
                    class="rounded-[4px] py-2 px-4"
                    mat-raised-button
                    color="primary"
                >
                    <span>Import</span>
                </button>
            </div>
        </div>
    </div>
</ng-template>
