<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto" cdkScrollable>
    <div class="relative flex-0 py-10 px-4 overflow-hidden bg-gray-800 dark">
        <svg class="absolute inset-0 pointer-events-none"
             viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
            <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>
        <div class="z-10 relative flex flex-col items-center">
            <h2 class="text-xl font-semibold">UET COURSES</h2>
            <div class="mt-1 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight text-center">
                What do you want to learn today?
            </div>
        </div>
    </div>

    <div class="flex flex-col p-6 space-y-6 w-full max-w-xs sm:max-w-5xl mx-auto">
        <!-- Header -->
        <div class="flex items-center justify-between">
            <mat-form-field class="fuse-mat-no-subscript w-full sm:w-72">
                <mat-icon
                    matPrefix
                    class="icon-size-5"
                    [svgIcon]="'heroicons_solid:search'"
                ></mat-icon>
                <input
                    [(ngModel)]="keySearch"
                    (ngModelChange)="searchCourse()"
                    placeholder="Search by name course"
                    matInput
                >
            </mat-form-field>
            <button
                *ngIf="isAdmin !== 'STUDENT'"
                mat-raised-button
                [color]="'primary'"
                (click)="openDialogImport(import_file)"
            >
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Tạo khóa học</span>
            </button>
        </div>

        <!-- Courses -->
        <ng-container *ngIf="this.filteredCourses.length; else noCourses">
            <div class="grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-4 gap-8 mt-8 sm:mt-10">
                <ng-container *ngFor="let course of filteredCourses; trackBy: trackByFn">
                    <div class="relative w-40 h-40 mx-auto p-4 shadow rounded-2xl bg-card">
                        <a class="z-10 absolute inset-0 flex flex-col p-4 cursor-pointer" [routerLink]="[course.id]">
                            <div class="aspect-[4/3]">
                                <div class="flex items-center justify-center h-full">
                                    <!-- Icon -->
                                    <span>
                                        <svg width="60" height="60" fill="#C9D1DB">
                                            <use xlink:href="#icon_folder"></use>
                                        </svg>
                                    </span>
                                </div>
                            </div>
                            <div class="flex flex-col flex-auto justify-center text-center text-sm font-medium">
                                <span>Khóa học</span>
                            </div>
                            <div class="flex flex-col flex-auto justify-center text-center text-sm font-medium">
                                <div class="truncate" [matTooltip]="course.name">{{course.name}}</div>
                            </div>
                        </a>
                    </div>
                </ng-container>
            </div>
        </ng-container>

        <!-- No courses -->
        <ng-template #noCourses>
            <div class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
                <mat-icon
                    class="icon-size-24"
                    [svgIcon]="'heroicons_outline:document-search'"></mat-icon>
                <div class="mt-6 text-2xl font-semibold tracking-tight text-secondary">No courses found!</div>
            </div>
        </ng-template>
    </div>
</div>

<ng-template #import_file>
    <div class="">
        <div class="header pb-4 border-b">
            <span class="text-[20px] font-bold">Tạo khóa học</span>
        </div>

        <div class="content my-4">
            <div [formGroup]="formGroup" class="pt-4 space-y-6">
                <div>
                    <label for="name">Tên khóa học</label>
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <input
                            id="name"
                            formControlName="name"
                            [placeholder]="'Tên khóa học'"
                            required
                            matInput
                        >
                    </mat-form-field>
                </div>

                <div>
                    <label for="code">Mã khóa học</label>
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <input
                            id="code"
                            formControlName="code"
                            [placeholder]="'Mã khóa học'"
                            required
                            matInput
                        >
                    </mat-form-field>
                </div>

                <div>
                    <label for="desc">Mô tả</label>
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <input
                            id="desc"
                            formControlName="desc"
                            [placeholder]="'Mô tả'"
                            required
                            matInput
                        >
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="footer mt-4 flex justify-end">
            <div>
                <button
                    class="rounded-[4px] py-2 px-4 mr-3 bg-[#F1F5F9]"
                    mat-raised-button
                    (click)="closeDialog()"
                >
                    <span>Hủy</span>
                </button>
                <button
                    class="rounded-[4px] py-2 px-4"
                    mat-raised-button
                    color="primary"
                    [disabled]="formGroup.invalid"
                    (click)="formGroup.valid && createCourse(formGroup.value)"
                >
                    <span>Tạo mới</span>
                </button>
            </div>
        </div>
    </div>
</ng-template>
