<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto" cdkScrollable>
    <div class="flex flex-col p-6 space-y-6">
<!--        #1c4366-->

        <!-- Header -->
        <div class="flex items-center justify-between">
            <mat-form-field
                class="fuse-mat-no-subscript w-72"
                [floatLabel]="'always'"
            >
                <mat-icon
                    matPrefix
                    class="icon-size-5"
                    [svgIcon]="'heroicons_solid:search'"
                ></mat-icon>
                <input
                    [(ngModel)]="keySearch"
                    (ngModelChange)="searchAcc()"
                    placeholder="Search"
                    matInput
                >
            </mat-form-field>
            <button
                mat-raised-button
                [color]="'primary'"
                (click)="createOrEditAccount()"
            >
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Cấp tài khoản</span>
            </button>
        </div>

        <!-- Table Account -->
        <table mat-table [dataSource]="filteredAccounts" class="mat-elevation-z8">

            <!-- Position Column -->
            <ng-container matColumnDef="stt">
                <th mat-header-cell *matHeaderCellDef>
                    <span class="text-lg">No.</span>
                </th>
                <td mat-cell *matCellDef="let element; let rowIndex = index"> {{rowIndex + 1}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>
                    <span class="text-lg">Full name</span>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Username Column -->
            <ng-container matColumnDef="userName">
                <th mat-header-cell *matHeaderCellDef>
                    <span class="text-lg">User name</span>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>
                    <span class="text-lg">Email</span>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>
                    <span class="text-lg">Action</span>
                </th>
                <td mat-cell *matCellDef="let element">
                    <span (click)="createOrEditAccount(element)">
                        <mat-icon class="icon-size-5 mr-2" [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
<!--                        Edit-->
                    </span>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <!-- No courses -->
        <ng-template #noAccount>
            <div class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
                <mat-icon
                    class="icon-size-24"
                    [svgIcon]="'heroicons_outline:document-search'"></mat-icon>
                <div class="mt-6 text-2xl font-semibold tracking-tight text-secondary">No account found!</div>
            </div>
        </ng-template>

    </div>
</div>
