<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500">User Interface</a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Confirmation Dialog
                </h2>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <div class="max-w-3xl">
            <div class="example-viewer">

                <div class="title">
                    <h6>Configure the dialog and preview it</h6>
                </div>

                <div class="flex flex-col p-8 pt-0">

                    <form
                        [formGroup]="configForm"
                        class="flex flex-col items-start">

                        <!-- Title -->
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Title</mat-label>
                            <input
                                matInput
                                [formControlName]="'title'">
                        </mat-form-field>

                        <!-- Message -->
                        <mat-form-field class="fuse-mat-no-subscript fuse-mat-textarea w-full mt-6">
                            <mat-label>Message</mat-label>
                            <textarea
                                matInput
                                [formControlName]="'message'">
                            </textarea>
                        </mat-form-field>

                        <!-- Divider -->
                        <div class="w-full mt-8 mb-7 border-b"></div>

                        <!-- Dismissible -->
                        <mat-checkbox
                            [color]="'primary'"
                            [formControlName]="'dismissible'">
                            Dismissible
                        </mat-checkbox>
                    </form>

                    <div class="mt-12">
                        <button
                            mat-flat-button
                            [color]="'primary'"
                            (click)="openConfirmationDialog()">
                            Open Confirmation Dialog
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
